<%-include("../partials/header")%>
<div class="container-fluid push">
    <div class="card mx-auto" style="width: 30%;">
        <div class="card-body mx-auto">
            <h2 class="card-title text-center">Register</h2>
                <a href="<%=consentUrl%>"><button type="button" class="btn btn-outline-primary mt-3" style="width: 100%;text-align: center;"><i class="fab fa-google"></i> Login with google</button></a>
                <a href = "/register/new"><button type="button" class="btn btn-outline-primary mt-4 mb-3" style="width: 100%;text-align: center;"><i class="fas fa-user-circle"></i> New User</button></a>
        </div>
    </div>
</div>

<%-include("../partials/footer")%>