<%-include("../partials/header")%>
<div class="container-fluid push">
    <div class="card mx-auto" style="width: 50%;">
        <div class="card-body">
            <h2 class="card-title text-center">Register</h2>
            <div class="container">
                <button type="button" class="btn btn-outline-primary"><i class="fab fa-google"></i> Login with google</button>
                <br><br>
                <button type="button" class="btn btn-outline-primary"><a href = "/register/new">New User</a></button>            
            </div>
        </div>
    </div>
</div>

<%-include("../partials/footer")%>