body{
    font-family: 'Anton','Lato';

}

/* Footer */
h6{
    text-align: center;
    margin-top:100px;
}
/* If fixed nav-bar
.navbar{
    margin-top: 50px;
} */

.card-text{
    font-family: 'Lato';
}

