body{
    font-family: 'Anton','Lato';

}

/* Footer */
h6{
    text-align: center;
    margin-top:100px;
}
/* If fixed nav-bar
.navbar{
    margin-top: 50px;
} */

.card-text{
    font-family: 'Lato';
}

.showcard{
    font-size: 1.2em;
}

/* Change pusy width */
.pushy{
    width: 400px; /* Changed the width to 400px */
}
.pushy-left{
    transform: translate3d(-400px,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}
.pushy-open-left #container,
.pushy-open-left .push {
    transform: translate3d(400px, 0, 0); /* Updated the values */
}
.pushy-right {
    transform: translate3d(400px, 0, 0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}
.pushy-open-right #container,
.pushy-open-right .push {
    transform: translate3d(-400px, 0, 0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}


.menu-btn:focus{
    outline: none;
}

.order-detail{
    font-family: 'Lato';
    font-weight: 600;
}
.profile-card{
    height: 149px;
    width: 900px;
}
.anchor{
    color:black;
}
.anchor:hover{
    color:black;
    text-decoration: none;
}