<!DOCTYPE html>
<html>
    <head>
        <title>TEST GOOGLE OAUTH</title>
        <meta name="google-signin-client_id" content="941696510446-2444frjglrq8i4laa2dak4fkv20ave0t.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <h1>login page</h1>
        <!-- Sign in button -->
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <!-- Sign out -->
        <a href="#" onclick="signOut();">Sign out</a>
        

        <!-- Sign In function -->
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                alert('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                alert('Name: ' + profile.getName());
                alert('Image URL: ' + profile.getImageUrl());
                alert('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }
        </script>

        <!-- Signout function -->
        <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }
          </script>

    </body>
</html>