<!DOCTYPE html>
<html>
    <head>
        <title>TEST GOOGLE OAUTH</title>
        <meta name="google-signin-client_id" content="941696510446-2444frjglrq8i4laa2dak4fkv20ave0t.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>login page</h1>
        <h3>3</h3>
        <!-- Sign in button -->
        
          <div class="g-signin2" data-onsuccess="onSignIn"  data-redirecturi="/policy"></div>

        
        <!-- Sign out -->
        <a href="#" onclick="signOut();">Sign out</a>
        

        <!-- Sign In function -->
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                alert('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());
                console.log('Id_token: ' + id_token); 
                $.ajax({
                  type: "POST",
                  url: '/authenticated',
                  data: JSON.stringify({'id_token': id_token}),
                  success: function() {
                    console.log('login success');
                    window.location.href = "/authenticated";
                  },
                  dataType: 'json',
                  contentType:"application/json",
                });
            }

            // Signout function 
        
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }

        </script>

    </body>
</html>