<!DOCTYPE html>
    <html>
        <head>
            <title>Pickup</title>
            <link rel="shortcut icon" type="image/x-icon" href="https://shoppingsitepickup.s3.us-east-2.amazonaws.com/logo.ico">
            <!-- css -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pushy/1.3.0/css/pushy.min.css" integrity="sha256-LUnW723JjcFdxtSuLAhq1qgOR80p748NslLOMISHsGY=" crossorigin="anonymous" />
            <!-- font -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton&display=swap" >
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,400;1,600;1,700&display=swap" rel="stylesheet">
            <link rel = "stylesheet" href = '/stylesheets/style.css' >
        </head>

        <body>
            
            <!-- Main -->
            <div class="main">
                <h1 class="text-center m-3"><a href="/products" class="anchor">Pickup <sup><i class="fab fa-pied-piper-hat"></i></sup></a></h1>
                <!-- nav bar-collapse-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                    <div class="container">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                            <a class="nav-link" href="/admin/products">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/customers">Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/orders">Orders</a>
                            </li>
                        
                        </ul>

                        <!-- right nav-bar -->
                        <ul class="navbar-nav ml-auto">
                            
                            <!-- user login -->
                            <%if(!admin){%>
                            <li class="nav-item ml-3">
                                <a class="nav-link" href="/admin/login"><i class="fas fa-user-circle"></i> Login</a>
                            </li>
                            
                            <%}else{%>
                            <li class="nav-item ml-3">
                                <a class="nav-link" href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                            
                            <%}%>
                            
                        </ul>
                    </div>
                </div>
                </nav>
            </div>