<%-include("../partials/header")%>
<div class="container-fluid push">
    <h3 style="width:900px" class="mx-auto mb-3"><i><i class="far fa-grin-squint"></i> Order has been placed!</i></h3> 
    <div class="progress mx-auto mb-3" style="width: 900px;>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Order set</div>   
    </div>
    <div class="card card-body mx-auto profile-card" >
        <a href = "/products" class = "mx-auto">Back to homepage!</a>
    </div>
</div>
<%-include("../partials/footer")%>